{{- $currentPath := .Page.RelPermalink -}}
{{- $currentVersionID := "" -}}
{{- $currentVersion := dict -}}
{{- range .Site.Params.versions -}}
  {{- if hasPrefix $currentPath .url -}}
    {{- $currentVersionID = .id -}}
    {{- $currentVersion = . -}}
  {{- end -}}
{{- end -}}

{{- if $currentVersionID -}}
  {{- $isLatest := eq $currentVersionID (.Site.Params.latest_version_id | default "v1") -}}
  {{- if not $isLatest }}
  <div class="pageinfo pageinfo-warning">
    <p>
      You are viewing documentation for <strong>Cozystack {{ $currentVersion.version }}</strong>.
      {{ range $.Site.Params.versions }}
        {{- if eq .id ($.Site.Params.latest_version_id | default "v1") }}
          For the latest version, see the <a href="{{ .url }}">{{ .version }} documentation</a>.
        {{- end }}
      {{- end }}
    </p>
  </div>
  {{- end }}
{{- end }}
